@using CookLab.Common
@using CookLab.Models.ViewModels.Recipes

@model RecipesListViewModel

@{
    this.ViewData["Title"] = PageTitles.RecipeAllPageTitle;
}

<div class="container-fluid p-0 text-center">
    <div class="text-center my-lg-5 mb-5">
        <h2 class="section-heading">@ViewData["Title"]</h2>
        <h5 class="section-subheading">Did you choose a recipe?</h5>
    </div>
    <a class="btn btn-secondary mb-5" asp-area="" asp-controller="Recipes" asp-action="Create">Create new recipe</a>

    <div class="card-group container row d-flex flex-row flex-wrap">
        @foreach (var recipe in Model.Recipes)
        {
            <div class="card text-dark w-auto">
                <div class="card-body">
                    <h5 class="card-title">@recipe.Name</h5>
                    <p class="card-text">@string.Join(", ", @recipe.Ingredients.Select(x=>x.Ingredient.Name))</p>
                    <a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary">See recipe</a>
                </div>
                <div class="card-img-container">
                    <img src="@recipe.Images.First().ImageUrl" class="card-img-bottom" alt="">
                </div>
            </div>
        }
    </div>
</div>