@using System.Globalization
@using CookLab.Models.ViewModels.Recipes
@using CookLab.Models.ViewModels.RecipeIngredients

@model RecipeDetailsViewModel

@{
    this.Layout = "_LayoutWithSideBar";
    this.ViewData["Title"] = Model.Name;
}

<div class="container-fluid p-0 text-center m-0 mb-4 rounded">
    <div class="col-md-10 col-lg-10 mt-lg-5 mx-auto">
        <h2 class="text-white font-weight-bold">@this.ViewData["Title"]</h2>
        <div class=" row justify-content-between col-lg-10 mx-auto">
            <a class="bg-transparent author-recipe" asp-area="" asp-controller="Recipes" asp-action="AllCreatedBy" asp-route-userId="@Model.CreatorId">
                <i class="fas fa-pen-fancy"></i>
                <span class="pl-2">Author: @Model.CreatorUserName</span>
            </a>
            <span>
                <i class="fas fa-calendar-alt"></i>
                <span class="pl-2">@Model.CreatedOnToString</span>
            </span>
        </div>
        <hr class="divider mb-4" />
    </div>
    <div class="col-lg-11 mx-auto">
        <div class="row justify-content-between align-items-start">
            <div class="col-lg-6">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

                        @for (int i = 1; i < Model.Images.Count; i++)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                        }
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <img src="@Model.Images.First().ImageUrl" class="d-block img-fluid carousel-img" alt="">
                        </div>

                        @foreach (var image in Model.Images.Skip(1))
                        {
                            <div class="carousel-item">
                                <img src="@image.ImageUrl" class="d-block img-fluid carousel-img" alt="">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev bg-transparent" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-primary rounded" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next bg-transparent" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-primary rounded" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="col-sm-8 col-md-12 text-center mx-auto my-4 py-2 border-top border-bottom position-relative">
                    <span id="usersCount">@Model.Users.Count</span>
                    <span class="position-relative" id="addOrRemoveSpan">
                        @if (this.User.Identity.Name != null)
                        {
                            @if (Model.Users.Any(x => x.UserUserName == this.User.Identity.Name))
                            {
                                <a class="bg-transparent text-white" id="removeRecipe">
                                    <i class="fas fa-heart-broken i-hoverable"></i>
                                </a>
                                <span>Remove from list</span>
                            }
                            else
                            {
                                <a class="bg-transparent text-white" id="addRecipe">
                                    <i class="fas fa-heart i-hoverable"></i>
                                </a>
                                <span>Add to list</span>
                            }
                        }
                        else
                        {
                            if (Model.Users.Count == 1)
                            {
                                <span class="pl-2">User added it to his list</span>
                            }
                            else
                            {
                                <span class="pl-2">Users added it to their lists</span>
                            }
                        }
                    </span>
                </div>

            </div>

            <div class="mx-sm-auto mx-lg-0 col-sm-8 col-md-10 col-lg-6 my-3" id="recipe-details-side">
                <ul class="list-group list-unstyled align-items-stretch text-left list-inline">
                    <li class="border-top p-2 border-bottom mb-3">
                        <i class="fas fa-clock"></i>
                        <span class="pl-2 border-left ml-2">Total time: @(Model.PreparationTimeInMinutes + Model.CookingTimeInMinutes) min</span>
                        <a class="text-white bg-transparent" data-toggle="tooltip" data-placement="top"
                           title="Preparation time: @Model.PreparationTimeInMinutes min, Cooking time: @Model.CookingTimeInMinutes min ">
                            <i class="fas fa-info-circle i-hoverable"></i>
                        </a>
                    </li>

                    <li class="border-top p-2 border-bottom mb-3">
                        <i class="fas fa-book"></i>
                        <span class="pl-2 border-left ml-2">Categories: @string.Join(", ", Model.Categories.Select(x => x.Category.Name))</span>
                    </li>

                    @if (Model.CookingVessel != null)
                    {
                        <li class="border-top p-2 border-bottom mb-3">
                            <i class="fas fa-glass-whiskey"></i>

                            @*@if (this.User.Identity.Name != null)
                            {
                                <span class="pl-2 border-left ml-2 mb-2 d-inline-block">Cooking vessel:</span>

                                <select asp-for="@Model.CookingVessel.Id" asp-items="@Model.CookingVessels"
                                        class="form-control d-inline select-cookingVessel">
                                </select>
                            }
                            else
                            {*@
                                <span class="pl-2 border-left ml-2">Cooking vessel: @Model.CookingVessel.Name</span>
                            @*  *@}

                        </li>
                    }

                    <li class="border-top p-2 border-bottom mb-3">
                        <div class="d-inline-block">
                            <i class="fas fa-utensils"></i>
                            @if (this.User.Identity.Name != null)
                            {
                                <span class="pl-2 border-left ml-2">Portions:</span>
                                <i class="fas fa-minus-circle i-hoverable" id="desiredPortions-reduce"></i>
                                <input value="@Model.DesiredPortions" class="form-control d-inline text-center" id="desiredPortions" />
                                <i class="fas fa-plus-circle i-hoverable" id="desiredPortions-add"></i>
                            }
                            else
                            {
                                <span class="pl-2 border-left ml-2">Portions: @Model.Portions</span>
                            }
                        </div>
                    </li>

                    @if (Model.Nutrition != null)
                    {
                        <li class="border-top p-2 border-bottom">
                            <i class="fab fa-nutritionix"></i>
                            <span class="pl-2 border-left ml-2">Nutrition Per Portion: </span>
                            <a class="text-white bg-transparent" id="showNutritionInfo">
                                <i class="fas fa-arrow-circle-down i-hoverable"></i>
                            </a>
                        </li>
                        <li id="nutrition-info-list-item">
                            <ul class="list-unstyled">
                                <li class="py-2 ml-5">
                                    <span class="pl-2" id="nutrition-calories">Calories: @((Model.Nutrition.Calories / Model.DesiredPortions)
                                            .ToString("F2", CultureInfo.InvariantCulture)) kcal</span>
                                </li>
                                <li class="border-top py-2 ml-5">
                                    <span class="pl-2" id="nutrition-carbohydrates">Carbohydrates: @((Model.Nutrition.Carbohydrates / Model.DesiredPortions)
                                            .ToString("F2", CultureInfo.InvariantCulture)) grams</span>
                                </li>
                                <li class="border-top py-2 ml-5">
                                    <span class="pl-2" id="nutrition-proteins">Proteins: @((Model.Nutrition.Proteins / Model.DesiredPortions)
                                            .ToString("F2", CultureInfo.InvariantCulture)) grams</span>
                                </li>
                                <li class="border-top py-2 ml-5">
                                    <span class="pl-2" id="nutrition-fats">Fats: @((Model.Nutrition.Fats / Model.DesiredPortions)
                                            .ToString("F2", CultureInfo.InvariantCulture)) grams</span>
                                </li>
                                <li class="border-top py-2 border-bottom ml-5">
                                    <span class="pl-2" id="nutrition-fibres">Fibres: @((Model.Nutrition.Fibres / Model.DesiredPortions)
                                            .ToString("F2", CultureInfo.InvariantCulture)) grams</span>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="col justify-content-between align-items-start">
            <div class=" col-sm-8 col-md col-lg-10 col-xl-8 mx-sm-auto my-3 p-0">
                <h4 class="py-2">
                    <i class="fas fa-clipboard-list"></i>
                    <span class="pl-3 border-bottom pb-2">Ingredients</span>
                </h4>
                <div>
                    <ul class="list-group list-unstyled">
                        @foreach (var part in Model.Ingredients
                                            .GroupBy(x => x.PartOfRecipe)
                                            .OrderBy(x => x.Key)
                                            .ToDictionary(x => x.Key, x => x
                                                                        .Select(y => new IngredientWeightViewModel
                                                                        {
                                                                            IngredientName = y.Ingredient.Name,
                                                                            WeightInGrams = y.WeightInGrams,
                                                                        })))
                        {
                            <li>
                                @if (part.Key.ToString() != "All")
                                {
                                    <h5 class="text-left px-4 pt-3">
                                        <span class="border-bottom">@part.Key.ToString()</span>
                                    </h5>
                                }
                                <ul class="list-group">
                                    @foreach (var ingredient in part.Value)
                                    {
                                        <li class="d-flex flex-row justify-content-between border-bottom">
                                            <span>
                                                <i class=" fas fa-check-circle i-hoverable i-clickable"></i>
                                                <span class="pl-2">@ingredient.IngredientName</span>
                                            </span>
                                            <span>@ingredient.WeightInGramsToString gr</span>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class=" col-sm-8 col-md col-lg-10 col-xl-8 mx-sm-auto my-3 p-0">
                <div class="mx-auto my-3 p-0">
                    <h4 class="py-2">
                        <i class="fas fa-mortar-pestle"></i>
                        <span class="pl-3 border-bottom pb-2">Preparation steps</span>
                    </h4>
                    <div class="text-wrap">
                        <ol class="p-3">
                            @foreach (var step in Model.Preparation.Split("\r\n", StringSplitOptions.RemoveEmptyEntries))
                            {
                                <li class="recipe-preparation text-left">@step</li>
                            }
                        </ol>
                    </div>
                </div>

                @if (Model.Notes != null)
                {
                    <div class="mx-auto my-3 p-0">
                        <h4 class="py-2">
                            <i class="fas fa-lightbulb"></i>
                            <span class="pl-3 border-bottom pb-2">Additional information</span>
                        </h4>
                        <div class="text-wrap">
                            <p class="recipe-preparation">@Model.Notes</p>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row flex-wrap flex-sm-nowrap col-md-9 col-lg-9 mx-auto justify-content-center p-0">
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <a class="btn btn-primary col-5 col-sm-3 m-1 my-md-auto" asp-area="@GlobalConstants.AdministrationAreaName"
                   asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-danger col-5 col-sm-3 m-1 my-md-auto" asp-area="@GlobalConstants.AdministrationAreaName"
                   asp-controller="Recipes" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
            <a class="btn btn-secondary col-12 mt-3 mt-sm-1 col-sm-5 m-1 m-md-2" asp-area="" asp-controller="Recipes" asp-action="All">Back to Recipes</a>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts{
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/ajax.min.js" asp-append-version="true"></script>
    <script src="~/js/userRecipeAjax.js" asp-append-version="true"></script>
    <script>document.onload = addOrRemoveRecipeFromUserList("@Model.Id");</script>
}
