@using System.Globalization
@using CookLab.Models.ViewModels.SideBar

@model SideBarRecipeListViewModel

<div>
    <div class="my-4">
        <h4>Latest Recipes</h4>
    </div>

    <div>
        <ul class="list-unstyled">
            @foreach (var recipe in Model.SideBarRecipes)
            {
                <li class="media py-2 align-items-stretch">
                    <a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id"
                       class="img-container-sidebar mr-3">
                        <img src="@recipe.Images.First().ImageUrl" class="img-fluid img-sidebar">
                    </a>
                    <div class="media-body position-relative justify-content-between">
                        <a asp-area="" asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id"
                           class="mt-0 mb-1 text-primary h5 recipe-title">@recipe.Name</a>
                        <span class="d-block created-on position-relative">@recipe.CreatedOn.ToString("d", CultureInfo.InvariantCulture)</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
