@using CookLab.Models.ViewModels.Nutritions

@model NutritionViewModel

<table class="table table-striped table-hover table-light col-md-6 mx-auto">
    <thead>
        <tr>
            <th scope="col">Nutrition per 100 Grams</th>
            <th scope="col">
                @if (Model.Ingredient != null)
                {
                    @Model.Ingredient.Name;
                }
                else
                {
                    @Model.Recipe.Name;
                }
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Calories</th>
            <td>@Model.CaloriesToString</td>
        </tr>
        <tr>
            <th scope="row">Carbohydrates</th>
            <td>@Model.CarbohydratesToString</td>
        </tr>
        <tr>
            <th scope="row">Fats</th>
            <td>@Model.FatsToString</td>
        </tr>
        <tr>
            <th scope="row">Proteins</th>
            <td>@Model.ProteinsToString</td>
        </tr>
        <tr>
            <th scope="row">Fibres</th>
            <td>@Model.FibresToString</td>
        </tr>
    </tbody>
</table>